/* Footer */

.site-footer {
    flex: 0 0 auto;
    background: $topbottom-color;
    color: $text-color;
    padding: 2em;
    text-align: center;
}

.site-footer a {
    color: $icon-color;
    text-decoration: none;
}

.site-footer p {
    text-align: center;
}
