$base-color: rgba(148, 185, 213, 0.5) !default; // lightblue
$topbottom-color: rgba(148, 185, 213, 1);
$bodytext: 'Noto Sans', sans-serif;
$titletext: 'Noto Serif', serif;
$bodytext-color: #000;
$text-color: #efefef;
$icon-color: #000;
$reportbox-text: rgb(0, 0, 0);
$hide-text: rgb(145, 141, 141);
$img-filter: grayscale(0%);
