$base-color: rgba(32, 33, 36, 0.9) !default; // lightblue
$topbottom-color: rgba(32, 33, 36, 1);
$bodytext: 'Noto Sans', sans-serif;
$titletext: 'Noto Serif', serif;
$bodytext-color: #efefef;
$text-color: #a8aaa9;
$icon-color: #efefef;
$reportbox-text: #a8aaa9;
$hide-text: rgb(94, 93, 93);
$img-filter: grayscale(90%);
