$base-color: #323639 !default; // lightblue
$topbottom-color: #202124;
$bodytext: 'Noto Sans', sans-serif;
$titletext: 'Noto Serif', serif;
$bodytext-color: #efefef;
$text-color: #a8aaa9;
$icon-color: #efefef;
$reportbox-text: #a8aaa9;
$hide-text: rgb(94, 93, 93);
$img-filter: grayscale(90%);
