$base-color: #c8e1f5 !default; // lightblue
$topbottom-color: #94b9d5;
$bodytext: 'Noto Sans', sans-serif;
$titletext: 'Noto Serif', serif;
$bodytext-color: #000;
$text-color: #efefef;
$icon-color: #000;
$reportbox-text: rgb(0, 0, 0);
$hide-text: rgb(145, 141, 141);
$img-filter: grayscale(0%);
