* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #94B9D5;
    color: #EFEFEF;
    padding: 0 2em;
}

.site-header a, .site-header a:visited {
    color: #EFEFEF;
}

.flash-region {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    background: blue;
    border-radius: 1em;
}

.flash-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background: #94B9D5;
    color: #EFEFEF;
    padding: 2em;
}

.site-footer a {
    color: #f0f0f0;
}
